.App {
  display: grid;
  grid-template-rows: 10% 5% 85%;
  grid-template-columns: 20% 80%;
  height: 100vh;
}
.square {
  width: 14.2%;
  height: 16.7vh;
  background-color: red;
}
.container {
  grid-row: 3 / span 1;
  grid-column: 2;
}
