.editAddContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newBirthday {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.form-control {
    margin-top: 10px;
}

.editAdd {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.add, .edit {
    margin: 0 1px;
}

.add, .edit {
    width: 4vw;
    color: #33A0FF;
    font-size: 1vw;
    background: rgba(255, 255, 255, 0);
    margin: 0 1px;
    border: 1px solid #33A0FF;
    padding: 3px 0;
    transition: 0.3s ease;
}

.add:hover, .edit:hover {
    background: #33A0FF;
    color: white;
    transition: 0.3s ease;
}

.add:active, .edit:active {
    outline-style: none;
    filter: brightness(90%);
    transition: 0.3s ease;
}

.add {
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.8vw;
}

.edit {
    border-top-left-radius: 0;
    border-top-right-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
    border-bottom-left-radius: 0;
}