.navbar {
    box-shadow: 0.1vh 0.1vw 0.1vh rgba(190, 190, 190, 0.5)
}

button:focus {
    outline: none !important;
}

.btn:active {
    outline-style: none;
    filter: brightness(95%);
    transition: 0.3s ease;
}

.month {
    text-align: center;
}

.yearContainer {
    font-size: 20px;
    margin-bottom: -5px;
}

.form-inline {
    margin-top: 20px !important;
}

button:focus {
    outline: none;
}

.monthContainer {
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-self: center;
}

.arrow {
    border-style: none;
    font-size: 30px;
    padding: 0 20px;
    padding-top: 24px;
    transition: 0.3s ease;
    background: none;
}

.previous:hover {
    margin-right: 10px;
    margin-left: -10px;
    transition: 0.3s ease;
}

.next:hover {
    margin-left: 10px;
    margin-right: -10px;
    transition: 0.3s ease;
}

.arrow:focus {
    outline: none;
}

.month {
    font-size: 30px;
    margin: 0 2vw;
    transition: 0.3s ease;
}