.App {
  display: grid;
  grid-template-rows: 10% 5% 85%;
  grid-template-columns: 20% 80%;
  height: 100vh;
}
.square {
  width: 14%;
  height: 13.7vh;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}
.container {
  grid-row: 3 / span 1;
  grid-column: 2;
}

.aside {
  /* width: 10px; */

  grid-row: 2 / span1;
}
.navbar {
  grid-row: 1;
  grid-column: 1 / span3;
}
