.App {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 25fr 1fr;
  grid-template-columns: 8.8fr 35fr 0.2fr;
  height: 100vh;
  overflow-y: hidden;
}

.navbar {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.aside {
  grid-row: 2;
  grid-column: 1;
  border-bottom-right-radius: 10px;
  margin-right: 5px;
  background: rgb(240, 240, 240);
  box-shadow: 0.1vh 0.1vw 0.1vh rgba(210, 210, 210, 0.5),
    0.1vh 0.2vw 0.1vh rgb(210, 210, 210, 0.5),
    0.1vh 0.3vw 0.1vh rgb(210, 210, 210, 0.5),
    0.1vh 0.4vw 0.1vh rgb(210, 210, 210, 0.5),
    0.3vh 0.5vw 0.2vh rgba(210, 210, 210, 0.5),
    0.1vh 1vw 0.5vh rgba(160, 160, 160, 0.3);
}

.container {
  grid-row: 2;
  grid-column: 2;
  margin-right: 0;
  padding: 0.5vw 0.5vw 0 0.5vw;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
  box-shadow: 0.1vh 0.1vw 0.1vh rgba(210, 210, 210, 0.5),
    0.1vh 0.2vw 0.1vh rgb(210, 210, 210, 0.5),
    0.1vh 0.3vw 0.1vh rgb(210, 210, 210, 0.5),
    0.1vh 0.4vw 0.1vh rgb(210, 210, 210, 0.5),
    0.1vh 0.5vw 0.2vh rgb(210, 210, 210, 0.5),
    0.1vh 1vw 1vh rgba(210, 210, 210, 0.1);
}

.square {
  margin: 0.1vw;
  width: 14%;
  height: 13.7vh;
  color: rgb(50, 50, 50);
  background-color: rgba(240, 240, 240, 0.5);
  display: inline-block;
  padding-top: 0.25vw;
  padding-left: 0.5vw;
  user-select: none;
}

.square:not(.fill):hover {
  outline: 1px solid rgb(150, 150, 255);
}

.fill {
  color: white;
  background: rgba(199, 201, 226, 0.5);
}

.info {
  color: red;
  font-size: 12px;
}
.holiday {
  background-color: green;
  font-size: 12px;
  color: white;
}
h4 {
  margin: 0 auto;
  font-size: 9px;
  padding: 0px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}
.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1441px) {
  .App {
    /* zoom: "125%";
    clear: both;
    width: 125%; */
    /* background-color: chartreuse; */
    zoom: 125%;
  }
  .square {
    width: 13.8%;
  }
}
