.App {
  display: grid;
  grid-template-rows: 10% 5% 85%;
  grid-template-columns: 20% 80%;
  height: 100vh;
}
.square {
  width: 14%;
  height: 13.7vh;
  background-color: white;
  border: 1px solid black;
}
.container {
  grid-row: 3 / span 1;
  grid-column: 2;
}
.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.aside {
  background: chartreuse;
  grid-row: 2 / span1;
}
.navbar {
  grid-row: 1;
  grid-column: 1 / span3;
}
.info {
  color: red;
}
.holiday {
  background-color: green;
  color: white;
}
h4 {
  margin: 0 auto;
  font-size: 9px;
  padding: 0px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}
